
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        display: block;
        position: absolute;
        width: 100%;
        min-height: 100%;
        left: 0;
        top: 0;
        background-color: #aaa;
        font-size: 16pt;
      }

      #contents {
        display: grid;
        width: 100vh;
        margin: 0 auto;
      }

      #dirname > span {
        margin: 0 5px;
      }
      #dirname > a {
        text-decoration: none;
      }
      #dirname > a:nth-child(1) {
        color: rgba(0, 0, 0, 0);
      }

      #contents > hr {
        border: none;
        border-bottom: 1px solid #000;
      }

      #children {
        margin-top: 10px;
      }
      #children > div {
        display: grid;
        grid-template-columns: 32px 1fr;
      }
      #children > div > a {
        margin: 0 auto 0 10px;
      }

      #assets {
        display: none;
      }
    